.div {
  padding: 15px;
  background-color: ligth-rose;
  max-width: 900px;
}

.movie_card {
  display: flex;
  box-shadow: 5px 6px 9px rgb(85, 42, 85);
  margin-bottom: 30px;
}

.movie_info {
  padding: 10px 25px;
}

.button {
  display: block;
  margin: 10px;
  border: none;
  padding: 10px;
  font-size: 20px;
  color: black;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  color: blue;
}

.h1 {
  color: blue;
  font-weight: 400;
  text-align: left;
  font-size: 40px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}

.img {
  display: block;
  max-width: 320px;
  height: auto;
  object-fit: cover;
  margin-right: 5px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  padding: 0 40px 0 40px;
  font-size: 18px;
}
.link:hover {
  color: blue;
}
